{% extends "base.html" %}

{% block content %}
<h2>Card Number {{ account.getCardNumber() }}</h2>

<h5>
    <strong>Total Funds: </strong> {{ account.getTotalFunds() }}
</h5>

<h5>
    <strong>Authorized Funds: </strong> {{ account.getAuthorizedFunds() }}
</h5>

<h5>
    <strong>Available Funds: </strong> {{ account.getAvailableFunds() }}
</h5>

<p>
    <strong>Hey! Listen!</strong> You can get back to this account using the 'secret account identifier':
    <strong>{{ account.getId() }}</strong>
    don't share it around or someone will steal all your money!
</p>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h5>Top Up</h5>
    </div>

    <div class="panel-body">
        <p>
            Want to add some funds? Just stick the cash in the post, enter the amount here, hit 'TopUp'.
            We're trusting you here so make sure you send over the money.
        </p>

        <form action="{{ topupAction }}" method="POST">
            <div class="form-group">
                <label for="topup-amount">Amount ({{ account.getCurrencyCode() }})</label>
                <input type="number" class="form-control" id="topup-amount" name="topup-amount" step="0.01">
            </div>

            <button type="submit" class="btn btn-default">TopUp</button>
        </form>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h5>Authorize a Transaction</h5>
    </div>

    <div class="panel-body">
        <p>
            Authorize a transaction to a random local coffee shop. Will it be <em>Coffee bd01782a-e484-4ec1-b11a-d9c237e1f0c4</em>
            or <em>The b78584c3-dfff-4f71-83fc-715208b8f085</em>? No one knows, that's the fun!
        </p>

        <form action="{{ authorizeAction }}" method="POST">
            <div class="form-group">
                <label for="authorize-amount">Amount ({{ account.getCurrencyCode() }})</label>
                <input type="number" class="form-control" id="authorize-amount" name="authorize-amount" step="0.01">
            </div>

            <button type="submit" class="btn btn-default">Authorize</button>
        </form>
    </div>
</div>


<div id="account-history">

    {% for event in events %}
    <div class="panel panel-default">
        <div class="panel-body">
            <p>
                {{ event.message }}
            </p>

            {% if event.type == 'authorize' %}
            <p>
                You can either Capture or Reverse this transaction, in whole or in part.
            </p>

            <form action="{{ event.actions.reverseAction }}" method="POST">
                <div class="form-group">
                    <label for="reverse-amount">Amount ({{ account.getCurrencyCode() }})</label>
                    <input type="number" class="form-control" id="reverse-amount" name="reverse-amount" step="0.01">
                </div>

                <input type="hidden" name="merchant-id" value="{{ event.merchantId }}">
                <input type="hidden" name="transaction-id" value="{{ event.transactionId }}">

                <button type="submit" class="btn btn-default">Reverse</button>
            </form>

            <hr>

            <form action="{{ event.actions.captureAction }}" method="POST">
                <div class="form-group">
                    <label for="capture-amount">Amount ({{ account.getCurrencyCode() }})</label>
                    <input type="number" class="form-control" id="capture-amount" name="capture-amount" step="0.01">
                </div>

                <input type="hidden" name="merchant-id" value="{{ event.merchantId }}">
                <input type="hidden" name="transaction-id" value="{{ event.transactionId }}">

                <button type="submit" class="btn btn-default">Capture</button>
            </form>


            {% endif %}

            {% if event.type == 'captureauthorization' %}
            <p>
                You can refund this transaction, in whole or in part.
            </p>

            <form action="{{ event.actions.refundAction }}" method="POST">
                <div class="form-group">
                    <label for="refund-amount">Amount ({{ account.getCurrencyCode() }})</label>
                    <input type="number" class="form-control" id="refund-amount" name="refund-amount" step="0.01">
                </div>

                <input type="hidden" name="merchant-id" value="{{ event.merchantId }}">
                <input type="hidden" name="transaction-id" value="{{ event.transactionId }}">

                <button type="submit" class="btn btn-default">Refund</button>
            </form>

            {% endif %}

        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}